@font-face {
    font-family: Vazirmatn;
    src: url(../Font/Vazirmatn-Medium.woff2) format("woff2");
}

* {
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 200vh;
    font-family: Vazirmatn;
    direction: rtl;
    background-image: url(../Image/back44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-top: 0.5rem;
    z-index: 1000;
    background: linear-gradient(to right, #1a1a2ee7, #16213ee6);
    border-radius: 80px;
    box-shadow: 0 2px 8px 0;
}

h1 {
    font-size: xx-large;
    color: white;
}

p {
    color: white;
    line-height: 1.5rem;
    text-align: center;
}

#header-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3rem;
}

#header-logo {
    width: 8rem;
    height: 8rem;
    border: 1px;
    border-radius: 100px;
    margin: 0.5rem;
}

.link-glow {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    text-align: center;
}

.link-glow:before {
    content: "";
    background: linear-gradient(45deg,
            #0e07e1,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #47087fb6);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.link-glow:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-wrap: wrap; */
    width: 100%;
    margin-top: 15rem;
    padding-bottom: 15rem;
}

.article {
    width: 70%;
    min-height: 200px;
    background: linear-gradient(70deg, rgba(26, 98, 134, 0.3), rgba(26, 36, 171, 0.3));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    margin: 1rem;
}

.article::selection {
    background-color: black;
}

.article p {
    margin: 1rem 3rem 3rem 3rem;
    text-align: center;
}

.article h2 {
    text-align: center;
    color: whitesmoke;
}

#bc-about-p {
    margin-top: 2rem;
}

hr {
    width: 40%;
    border: 1px solid rgb(47, 255, 54);
}

#add {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #00ffc3;
}

.grid-article {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin-top: 4rem;
}

.grid-article h2 {
    color: #48ff00;
    text-align: center;
}

#tg-br {
    width: 400px;
    height: 400px;
}


footer {
    bottom: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(to right, #1a1a2ea1, #16213e88);
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    justify-content: space-around;
}

#icons {
    width: 4rem;
    height: 4rem;
}

#icons:hover {
    width: 5rem;
    height: 5rem;
    transition: 500ms;
}

.footer-txt {
    text-align: center;
    color: white;
}

#footer-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

#footer-li-margin {
    margin: 2rem;
}