@font-face {
    font-family: Vazirmatn;
    src: url(../Font//Vazirmatn-Medium.woff2) format("woff2");
}

* {
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 202vh;
    font-family: Vazirmatn;
    direction: rtl;
    background-image: url(../Image/back44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    letter-spacing: 0.25;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to right, #1a1a2ee7, #16213ee6);
    box-shadow: 0 2px 8px 0;
}

#headtitle {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: white;
}

.imgtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#header-logo {
    width: 8rem;
    height: 8rem;
    border: 1px;
    border-radius: 100px;
    margin: 0.5rem;
}

#header-links {
    display: flex;
    flex-wrap: wrap;
    width: 28rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 3rem;
}


.link-glow {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    height: 2.3rem;
}

.link-glow:before {
    content: "";
    background: linear-gradient(45deg,
            #0e07e1,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #47087fb6);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.link-glow:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 125vh;
}

.right-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 4%;
    width: 80%;
    margin-top: 5rem;
}

article {
    width: 30rem;
    height: 19rem;
    background: linear-gradient(70deg, rgba(26, 98, 134, 0.3), rgba(26, 36, 171, 0.3));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
}

.img-article {
    float: left;
    width: 12rem;
    height: 100%;
    border-radius: 10px;
}

#txt-artic {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 8rem;
}

#txt-artic:hover {
    font-size: 50px;
    color: wheat;
    transition: 700ms;
}

.left-section {
    width: 20%;
    margin-top: 6.5rem;
    margin-left: 2rem;
    border-radius: 30px;
    background: linear-gradient(70deg, rgba(26, 98, 134, 0.3), rgba(26, 36, 171, 0.3));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#olist-left-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 1rem;
}

.olist-left-section-links {
    display: flex;
    justify-content: center;
    background: linear-gradient(144deg, #af40ffcf, #5a42f3d1 50%, #00dbebcb);
    border: 0;
    border-radius: 40px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1em;
    width: 17rem;
    padding: 32px 14px;
    /* user-select: none;
    touch-action: manipulation;
    white-space: nowrap; */
    cursor: pointer;
}

.olist-left-section-links:active,
.olist-left-section-links:hover {
    outline: 0;
    background: linear-gradient(144deg, #409cffcf, #5a42f3d1 50%, #d000ebcb);
    color: black;
    font-size: xx-large;
    transition: 500ms;
}

@media (min-width: 768px) {
    .olist-left-section-links {
        font-size: 24px;
        min-width: 196px;
    }
}

.table-box {
    display: block;
    justify-self: center;
    width: 100%;
    margin-top: 1rem;
}

table {
    width: 100%;
    text-align: center;
    background: linear-gradient(70deg, rgba(26, 98, 134, 0.3), rgba(26, 36, 171, 0.3));
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

th,
td {
    padding: 1.5rem;
    color: white;
}

#table-image {
    width: 40px;
    height: 20px;
    border-radius: 20px;
}

span {
    background: linear-gradient(60deg, rgb(9, 3, 134) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
    border-radius: 10px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(to right, #1a1a2ea1, #16213e88);
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    justify-content: space-around;
}

#icons {
    width: 4rem;
    height: 4rem;
}

#icons:hover {
    width: 5rem;
    height: 5rem;
    transition: 500ms;
}

.footer-txt {
    text-align: center;
    color: white;
}

#footer-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

#footer-li-margin {
    margin: 2rem;
}

a:hover {
    cursor: pointer;
}

@media(max-width:800px) {
    body {
        width: 35rem;
        height: 350vh;
    }

    header {
        width: 22rem;
    }

    #header-links {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    #header-logo {
        width: 4rem;
        height: 4rem;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    main {
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
    }

    .right-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100;
    }

    .left-section {
        width: max-content;
    }

    table {
        min-width: 600px;
    }

    .table-box {
        overflow-x: auto;
    }

    span {
        background: none;
        padding: 0;
        border-radius: 0;
    }

    footer {
        flex-direction: column;
        padding: 1rem;
        height: 40vh;
    }
}